<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Formulário de Cadastro</h2>
    <hr>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Usuário'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Senha'"
        [type]="'password'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirmar Senha'"
        [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Apelido'"></app-text-input>

    <div class="mb-3">
        <label style="margin-right: 10px;">Genêro:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="masculino" formControlName="gender"> Masculino
        </label>
        <label class="form-check-label ms-2">
            <input type="radio" class="form-check-input" value="feminino" formControlName="gender"> Feminino
        </label>
    </div>

    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Data de Nascimento'"
        [maxDate]="maxDate"></app-date-picker>

    <app-text-input [formControl]="$any(registerForm.controls['city'])" [disabled]="!registerForm.valid"
        [label]="'Cidade'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'País'"></app-text-input>

    <div class="row" *ngIf="ValidationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of ValidationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button class="btn btn-primary btn-lg me-2" type="submit">Registrar</button>
        <button class="btn btn-outline-secondary btn-lg" type="button" (click)="cancel()">Cancelar</button>
    </div>
    <p class="mt-3 mb-0 text-primary">ATENÇÃO:</p>
    <p>Usuário será cadastrado com letras minusculas</p>
</form>