<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 30%;">Usuário</th>
                <th style="width: 40%;">Cargos</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td>
                    <button (click)="openRolesModal(user)" class="btn btn-outline-secondary">Editar cargos</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>