<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Localização:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Idade:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Ultima Visualização:</strong>
                    <p>{{member.lastActivity | date: 'dd MMMM yyyy - hh:mm'}}hrs</p>
                </div>
                <div>
                    <strong>Conta Criada:</strong>
                    <p>{{member.createdAt | date: 'dd MMMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger">
                        <i class="bi bi-heart-fill"> Like</i>
                    </button>
                    <button class="btn btn-success" (click)="selectTab('Mensagens')">
                        <i class="bi bi-envelope-fill"> DM</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="Sobre {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4>Descrição</h4>
                <p>{{member.introduction}}</p>
                <h4>Buscando por</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interesses" (selectTab)="onTabActivated($event)">
                <h4>Interesses</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading="Galeria" (selectTab)="onTabActivated($event)">
                <h4>Adicionar galeria"</h4>
            </tab>
            <tab heading="Mensagens" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.userName" [messages]="messages"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>